#!/bin/bash

set -eufo pipefail

{{ template "utils.sh" . }}

print_color_box_center "$COLOR_YELLOW" 40 "Install Brew Packages"

homebrew_shellenv

{{- $taps  := list -}}
{{- $brews := concat .brew.brews.gnu_tools .brew.brews.cli_tools .brew.brews.dev -}}
{{- $casks := concat .brew.casks.common .brew.casks.dev -}}
{{- $mas   := .brew.mas.common -}}

{{- if .is_personal -}}
    {{- $casks = concat $casks .brew.casks.personal -}}
    {{- $mas = merge (default dict $mas) .brew.mas.personal -}}
{{- end -}}

{{- if .has_logitech -}}
    {{- $casks = concat $casks .brew.casks.logitech -}}
{{- end -}}

{{/* Install */}}
CURRENT_HASH="{{ toJson (list $brews $casks $mas) | sha256sum }}"
HASH_STORE="$HOME/.cache/chezmoi/brew-bundle.hash"
mkdir -p "$(dirname "$HASH_STORE")"

if [ ! -f "$HASH_STORE" ] || [ "$(cat "$HASH_STORE")" != "$CURRENT_HASH" ]; then
    echo_color $COLOR_BLUE "Install Brew Packages: Installing packages..."

    brew bundle --file=- <<EOF
{{ range $taps -}}
    tap "{{ . }}"
{{ end -}}
{{ range $brews -}}
    brew "{{ . }}"
{{ end -}}
{{ range $casks -}}
    cask "{{ . }}"
{{ end -}}
EOF

    mas install {{ range (keys $mas | sortAlpha) }}{{ get $mas . }} {{ end }}

    echo "$CURRENT_HASH" > "$HASH_STORE"
else
    echo_color $COLOR_BLUE "Install Brew Packages: Packages already installed. Skipping..."
fi

echo_color $COLOR_GREEN "Install Brew Packages: Done."
echo ""
