#!/bin/bash

set -eufo pipefail

source "{{ .chezmoi.sourceDir }}/.scripts/utils.sh"

print_color_box_center "$COLOR_YELLOW" 40 "TextEdit.app Settings"

# 일반
## 리치 텍스트(RTF) 대신 일반 텍스트(Plain Text)를 기본값으로: 🟢 활성화
defaults write com.apple.TextEdit RichText -int 0
## 서체: 📌 D2Coding Ligature Nerd Font
defaults write com.apple.TextEdit NSFixedPitchFont -string D2CodingLigatureNF
defaults write com.apple.TextEdit NSFixedPitchFontSize -int 18
defaults write com.apple.TextEdit NSFont -string D2CodingLigatureNF
defaults write com.apple.TextEdit NSFontSize -int 18
## 옵션
### 스마트 인용 부호: 🔴 비활성화
defaults write com.apple.TextEdit SmartQuotes -bool false
### 스마트 대시: 🔴 비활성화
defaults write com.apple.TextEdit SmartDashes -bool false
# 열기 및 저장하기
## 일반 텍스트 파일 인코딩: 📌 UTF-8
defaults write com.apple.TextEdit PlainTextEncoding -int 4
defaults write com.apple.TextEdit PlainTextEncodingForWrite -int 4

defaults read com.apple.TextEdit > /dev/null
killall "TextEdit" > /dev/null 2>&1 || true

echo_color "$COLOR_GREEN" "TextEdit.app Settings: Done."
echo ""
