#!/bin/bash

{{ template "utils.sh" . }}

print_color_box_title  "$COLOR_YELLOW" 70 "\
CHEZMOI" "Username:         {{ .chezmoi.username }}
Host Name:        {{ .chezmoi.hostname }}
Home Directory:   {{ .chezmoi.homeDir }}
Source Directory: {{ .chezmoi.sourceDir }}
OS Detected:      {{ .chezmoi.os }}
Arch Detected:    {{ .chezmoi.arch }}"
