# Editable file

{{- if not .is_ephemeral }}
[user]
    signingkey = ~/.ssh/Github.pub
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
{{- end }}

[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential

[url "git@github.com:"]
    insteadOf = https://github.com/
